@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

:root::selection {
  background: #08cb00;
  color: #000;
}

body {
  background-color: var(--color-background);
  color: white;
  font-family: "Sora", sans-serif;
}
#image {
  position: relative;
  background-image: url("./../public/Home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  width: 100%;
  /* padding-top: 150px; */
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 30px;
  color: white; /* Optional: makes text visible */
  z-index: 1;
  overflow: hidden;
}

#image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.525); /* controls the darkness */
  z-index: 0;
}

/* To make sure your text appears above the overlay */
#image > * {
  position: relative;
  z-index: 1;
}
/* globals.css */
body {
  @apply bg-black text-white;
  /* transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95); */
}
